[Unit]
Description=GRACC Periodic Summarizer Agent
Documentation=https://opensciencegrid.github.io/gracc
Requires=docker.service
After=docker.service
 
[Service]
TimeoutStartSec=0
Type=oneshot
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull opensciencegrid/gracc-summary
ExecStart=/usr/bin/docker run --rm --name %n opensciencegrid/gracc-summary
 
[Install]
WantedBy=multi-user.target
